*,
*:after,
*:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 none;
  position: relative;
  outline: none;
}

html,
body,
#main-container {
  height: 100%;
}

#main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

body {
  background: #000;
  font-family: "myriad-pro", 'Myriad Pro', sans-serif;
  color: #fff;
}

h1 {
    margin: 0 auto;
}

h1 span {
  visibility: hidden;
}

#fungi-menu {
    list-style: none;
    display: flex;
    gap: 4em;
    justify-content: space-between;
    width: 80vw;
    height: 50vh;
    margin: 0 auto;
}

#fungi-menu.hidden {
    visibility: hidden;
    opacity: 0;
}

.fungi-menu-item {
    width: 33.3%;
    height: 100%;
    z-index: 1;
    transition: visibility 0s linear 500ms, opacity 500ms;
}

.fungi-menu-item.hidden {
    visibility: hidden;
    opacity: 0;
}

.fungi-menu-item .fungi-menu-image {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.fungi-menu-item #fungi-image-1 {
  width: 70%;
}

.fungi-menu-item .fungi-image-2 {
  
}

.fungi-menu-item .fungi-image-3 {
  
}

.back-to-menu {
  z-index: 999;
  color: #fff;
  position: fixed;
  top: 0;
  padding: 1em;
  text-decoration: none;
  opacity: .8;
  transform: scale(.95);
  transition: all 200ms ease-in-out;
}

.back-to-menu:hover {
  opacity: 1;
  transform: scale(1);
}

.back-to-menu i {
  margin-right: .5em;
}

.fungi-page object {
    z-index: 0;
}

.fungi-page {
  visibility: hidden;
  opacity: 0;
  transform: scale(300%);
  position: absolute;
  top: 90%;
  left: 70%;
  height: 100%;
  width: 100%;
  max-width: 800px;
  transition: visibility 0s linear, opacity 2000ms ease-in-out;
}

.fungi-page.fruit-only {
  z-index: 99;
}

.fungi-page.revealed {
  visibility: visible;
  opacity: 1;
  transform: scale(300%);
}